* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e8e9;
}

.btn {
    width: 350px;
    height: 100px;
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5em;
    background-color: #e7e8e9;
    border-radius: 50px;
    box-shadow: 6px 6px 8px #ccc, -6px -6px 8px #fafafa;
    margin: 40px;
    cursor: pointer;
}

.btn:focus {
    box-shadow: inset 6px 6px 8px #ccc, inset -6px -6px 8px #fafafa;
}